# # CHAPTER - 1         PRINT STATEMENT

In [1]:
print('Hello, World')

Hello, World

In [2]:
print("Hello, World")

Hello, World

# CHAPTER-2           VARIABLES FOR STRING

In [3]:
name = "Imran Khan"
name ='Imran Khan'

In [4]:
f_name = 'Imran Khan'

In [5]:
new_name = 'Imran Khan'

In [6]:
name = 'Nawaz Shareef'

In [7]:
lesson_to_learn = 'Imran khan'
my_NAME_in_capital_letters = 'UNITED STATE AMERICA'

In [5]:
x , y , z = 'hello friends' , 'take tea' , 'to be honnest'
print (x,y,z)

hello friends take tea to be honnest

 # CHAPTER-3        VARIABLES FOR NUMBERS

In [2]:
age = 25

In [3]:
weight = '25'

In [10]:
mangoes = 10

In [13]:
mangoes + 10
mangoes_sum = mangoes +10
print(mangoes)
print(mangoes_sum)
mangoes

10
20

10

In [14]:
height = 25
width = 50
summation = height + width
print(height + width)

75

In [6]:
a = 10
b = 10.5
sum = a-b
print(sum)
print(type(a))
print(type(b))

b = a
print(b)
type(b)
print(type(sum))

-0.5
<class 'int'>
<class 'float'>
10
<class 'float'>

In [22]:
first_prime_num = 2
first_odd_num = '1'
take_sum = str(first_prime_num) + first_odd_num
print(take_sum)
type(take_sum)
print(take_sum+str(10))
print(type(take_sum))
print (type(first_odd_num))

21
2110
<class 'str'>
<class 'str'>

# # CHAPETR - 4 MATHS EXPRESSION - FAMILIAR OPERATORS

In [18]:
popular_number = 4

In [19]:
popular_number = 2 + 2 
popular_number

4

In [20]:
loss = 12 - 10
loss

2

In [21]:
doxens = 3 * 12
doxens

36

In [22]:
marks = 0
a = 1 
b = 0
marks = a/b
print(marks)
print(int(marks))

ZeroDivisionError: division by zero

In [23]:
@url = 'http://github.com'
print(@url)

SyntaxError: invalid syntax (<ipython-input-23-e4c1db7ba6cb>, line 1)

In [25]:
a = 100-50
b = '2'
c= str(a) + b
d = (c + str(10))
print (a,b,c,d)
print (type(a),type(b),type(c),type(d))

50 2 502 50210
<class 'int'> <class 'str'> <class 'str'> <class 'str'>

In [29]:
a = 'all the values in table'
print(a,type(a))

all the values in table <class 'str'>

In [31]:
a = 'all the values in a'
b = 'all the values in b'
c = a + b
print (c)

all the values in aall the values in b